<div class="login-container">  
  <div class="left">
        <img src="../../../assets/logo.jpg" alt="logo" class="logo">
        <!-- <h1>helps people connect around the globe</h1> -->
    </div>
    <div class="right">
        <form>
            <div class="mb-3">
              <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Email address or phone number">
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-login">Login</button>
            <!-- Forgot Password - Centered -->
            <div class="text-center">
              <a routerLink="signup">Forgot Password?</a>
            </div>

            <!-- Divider Line -->
            <div class="divider"></div>

            <!-- Create Account Button -->
            <button type="button" class="btn btn-create-account" routerLink="/signup">Create new account</button>
        </form>
    </div>
</div>
