<div class="sidebar" [class.collapsed]="!isOpen()">
  <button class="hamburger-btn" (click)="toggleSidebar()">☰</button>
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="active">
          <!-- <i class="fa-solid fa-house fa-l" style="color: #ffffff;"></i> -->
          <fa-icon [icon]="faHouse" size="xl" style="color: white;"></fa-icon>
            <span id="sidebar-text">Home</span>
        </a>
      </li>
      <li>
        <a routerLink="trending" routerLinkActive="active">
          <!-- <i class="fa-solid fa-fire fa-l" style="color: #ffffff;"></i> -->
          <fa-icon [icon]="faFire" size="xl" style="color: white;"></fa-icon>
            <span id="sidebar-text">Trending</span>
        </a>
      </li>
      <li>
        <a routerLink="community" routerLinkActive="active">
          <!-- <i class="fa-solid fa-satellite-dish fa-l" style="color: #ffffff;"></i> -->
          <fa-icon [icon]="faSatelliteDish" size="xl" style="color: white;"></fa-icon>
            <span id="sidebar-text">Communities</span>
        </a>
      </li>
      <li>
        <a routerLink="about" routerLinkActive="active">
          <!-- <i class="fa-solid fa-circle-info"></i> -->
          <fa-icon [icon]="faCircleInfo" size="xl" style="color: white;"></fa-icon>
            <span id="sidebar-text">About</span>
        </a>
      </li>
    </ul>
</div>